<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Available Languages
                </a>
            </li>
            {{#each langList}}
            <li>
                <a href="/learn/{{@key}}">{{this}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <!-- Begin Flash Card -->
        <div id="flashcard" class="container bg-primary">
            <div id="language-indicator-box" class="row">
                <div id="language-indicator" class="col-12">
                    <header class="text-center">
                        <p>
                            <select class="lang-select text-center"
                                onChange="console.log('hey');">
                                {{#each langList}}
                                <option
                                  value="{{@key}}"
                                  {{checkSelect @key ../bLangCode}}>
                                    {{this}}
                                </option>
                                {{/each}}
                            </select>
                            <span
                              class="glyphicon glyphicon-arrow-right"
                              aria-hidden="true">
                            </span>
                            <select class="lang-select">
                                {{#each langList}}
                                <option
                                  value="{{@key}}"
                                  {{checkSelect @key ../tLangCode}}>
                                    {{this}}
                                </option>
                                {{/each}}
                            </select>
                        </p>
                    </header>
                </div>
            </div>
            <div id="phrase-box" class="row">
                <div id="phrase" class="col-12">
                    {{! main word }}
                    <h1 id="main-word" class="text-center">
                        &ldquo;{{firstUpper mainWord}}&rdquo;
                    </h1>
                    {{! translated word }}
                    <h1 id="translated-word" class="text-center hidden">
                        &ldquo;{{firstUpper translatedWord}}&rdquo;
                    </h1>
                </div>
            </div>
            <div id="button-box" class="row">
                {{! flip button }}
                <div id="flip-button" type="button"
                 class="flashcard-button col-xs-12 text-center"
                 data-balloon="Flip Card!" data-balloon-pos="down"
                 onClick="handleFlipCard()">
                    <span class="glyphicon glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                </div>
                {{! correct button }}
                <div id="correct-button" type="button"
                 class="flashcard-button col-xs-12 text-center hidden"
                 data-balloon="Correct!" data-balloon-pos="down"
                 onClick="handleCorrect()">
                    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
                {{! incorrect button }}
                <div id="incorrect-button" type="button"
                 class="flashcard-button col-xs-12 text-center hidden"
                 data-balloon="Not Quite!" data-balloon-pos="down"
                 onClick="handleIncorrect()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
                {{! next button }}
                <div id="next-button" type="button"
                 class="flashcard-button col-xs-12 text-center hidden"
                 data-balloon="Next Card!" data-balloon-pos="down"
                 onClick="window.location.href='/newWord/{{tLangCode}}'">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <!-- /#end-flashchard -->
        <center><div class="hidden" id="prompter">I am the prompter</div></center>
    </div>


    <div id="controls" class="btn-group col-12" role="group" aria-label="...">
    <a href="#menu-toggle" class="btn btn-default btn-lg" id="menu-toggle">Change Language</a>


    <div id="phrase-selection">
        <h3>Phrase Context</h3>
        <ul>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/greeting/">Greeting</a></li>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/directions/">Ask for directions</a></li>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/emergency/">Emergency</a></li>
        </ul>
        <ul>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/atHotel/">At a hotel</a></li>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/atRestaurant/">At a restraunt</a></li>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/atAirport/">At the airport</a></li>
        </ul>
        <ul>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/transportation/">Transportation</a></li>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/sightSeeing/">Sightseeing</a></li>
            <li><a class="btn btn-success btn-phrase btn-lg" href="/newWord/shoppingAndMoney/">Shopping and Money</a></li>
        </ul>
    </div>
    <!-- /#end-page-content-wrapper -->
</div>
<!-- /end-#wrapper -->


    {{! animate next card }}


    {{! change button row }}
    <script>
    function changeButtonCount(n){
        let buttons = document.getElementsByClassName('flashcard-button');
        for(let i=0;i<buttons.length;i++){
            let button = buttons[i];
            button.classList.remove('col-xs-12', 'col-xs-4', 'col-xs-3');
            button.classList.add(`col-xs-${12/n}`);
        }
    }
    </script>

    {{! flip card }}
    <script>
    function handleFlipCard(){
        //show buttons to mark result
        if(document.getElementById('correct-button').classList.contains('hidden')){
            changeButtonCount(3);
        }
        document.getElementById('correct-button').classList.remove('hidden');
        document.getElementById('incorrect-button').classList.remove('hidden');
        //reverse words
        let mainWordElem = document.getElementById('main-word');
        let backWordElem = document.getElementById('translated-word');
        if(mainWordElem.className.match(/(?:^|\s)hidden(?!\S)/)){
            backWordElem.className += ' hidden';
            mainWordElem.classList.remove('hidden');
        }else{
            mainWordElem.className += ' hidden';
            backWordElem.classList.remove('hidden');
        }
    }
    </script>

    {{! correct }}
    <script>
    function handleCorrect(){
        //show buttons to mark result
        let cardElem = document.getElementById('flashcard');
        //remove other color classes
        cardElem.classList.remove('bg-primary');
        cardElem.classList.remove('bg-danger');
        //add new color
        cardElem.className += ' bg-success';
        //allow next card
        document.getElementById('next-button').classList.remove('hidden');
        changeButtonCount(4);

        let prompt = document.getElementById('prompter');
        prompt.innerHTML = "Great Job!";
        prompt.classList.remove('bg-danger');
        prompt.classList.add('bg-success');
        prompt.classList.remove("hidden");
    }
    </script>

    {{! incorrect }}
    <script>
    function handleIncorrect(){
        //show buttons to mark result
        let cardElem = document.getElementById('flashcard');
        //remove other color classes
        cardElem.classList.remove('bg-primary');
        cardElem.classList.remove('bg-success');
        //add new color
        cardElem.className += ' bg-danger';
        //allow next card
        document.getElementById('next-button').classList.remove('hidden');
        changeButtonCount(4);

        let prompt = document.getElementById('prompter');
        prompt.innerHTML = "Sorry try again!";
        prompt.classList.remove('bg-success');
        prompt.classList.add('bg-danger');
        prompt.classList.remove("hidden");
    }
    </script>


<script>

    var a = document.getElementById('phrase-selection').getElementsByTagName('a'),
    length = a.length;
    var loc = window.location['href'].split("/")[4];
    console.log(window.location['href']);

    for(var i=0; i< length; i++){
        a[i].href += loc;
    }
</script>
